@model maryStudyGroup.Models.StudyGroup

@{
    ViewBag.Title = "Add Study Buddy";
}

<h2>Add a New Study Buddy</h2>

@using (Html.BeginForm("Add", "StudyGroup", FormMethod.Post))
{
    <div class="form-group">
        @Html.LabelFor(m => m.StudentNumber)
        @Html.TextBoxFor(m => m.StudentNumber, new { @class = "form-control", placeholder = "e.g. 23643570" })
        @Html.ValidationMessageFor(m => m.StudentNumber)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Name)
        @Html.TextBoxFor(m => m.Name, new { @class = "form-control", placeholder = "e.g. Mary" })
        @Html.ValidationMessageFor(m => m.Name)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Surname)
        @Html.TextBoxFor(m => m.Surname, new { @class = "form-control", placeholder = "e.g. Modiba" })
        @Html.ValidationMessageFor(m => m.Surname)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.EmailAddress)
        @Html.TextBoxFor(m => m.EmailAddress, new { @class = "form-control", placeholder = "e.g. u23643570@tuks.co.za" })
        @Html.ValidationMessageFor(m => m.EmailAddress)
    </div>

    <button type="submit" class="btn btn-success">Submit</button>
    <a href="@Url.Action("Index", "StudyGroup")" class="btn btn-secondary">Back to List</a>
}
